<div class="list-group-item d-flex align-items-center<%= " list-group-item-secondary" if column.foreign_type? %>">
  <span class="flex-grow-1 <%= column.primary_descriptor? ? 'text-info' : '' %>">
    <%= column %>
  </span>

  <small class="text-muted flex-grow-auto">
    <% if column.foreign_type? %>
      <span data-bs-toggle="tooltip" data-bs-html="true" title="Contains the foreign table for <%= column.foreign_type_for.underscored %>">
        <i class="fad fa-typewriter"></i>
      </span>
    <% end %>

    <% if column.relationships_as_foreign_key.any? %>
    <span data-bs-toggle="tooltip" data-bs-html="true" title="Foreign key in <%= column.relationships_as_foreign_key.map(&:shorthand).uniq.to_sentence %>">
        <i class="fad fa-lock-open-alt"></i>
      </span>
    <% end %>

    <% if column.primary_descriptor? %>
      <span data-bs-toggle="tooltip" data-bs-html="true" title="<%= column %> is the primary descriptor of a row in the <code><%= column.table.humanized_plural %></code> table">
        <i class="fas fa-signature fa-fw"></i>
      </span>
    <% end %>

    <% if column.primary_identifier? %>
      <span data-bs-toggle="tooltip" data-bs-html="true" title="<%= column %> is the primary key for the <code><%= column.table.humanized_plural %></code> table">
        <i class="fad fa-key fa-fw"></i>
      </span>
    <% end %>

    <% if column.unique_identifier? %>
      <span data-bs-toggle="tooltip" data-bs-html="true" title="<%= column %> uniquely identifies a row in the <code><%= column.table.humanized_plural %></code> table">
        <i class="fas fa-fingerprint fa-fw"></i>
      </span>
    <% end %>

    <%= column.type.demodulize %>
  </small>
</div>
