<%= form_with(model: project_table_relationship_direct, class: "contents") do |form| %>
  <% if project_table_relationship_direct.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(project_table_relationship_direct.errors.count, "error") %> prohibited this project_table_relationship_direct from being saved:</h2>

      <ul>
        <% project_table_relationship_direct.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :origin_id %>
    <%= form.text_field :origin_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :destination_id %>
    <%= form.text_field :destination_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :scope_id %>
    <%= form.text_field :scope_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :foreign_key_id %>
    <%= form.text_field :foreign_key_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :key_id %>
    <%= form.text_field :key_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :polymorphic %>
    <%= form.check_box :polymorphic, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :foreign_key_owner_id %>
    <%= form.text_field :foreign_key_owner_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :dependent %>
    <%= form.text_field :dependent, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :touch_option %>
    <%= form.check_box :touch_option, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :optional %>
    <%= form.check_box :optional, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :cardinality %>
    <%= form.text_field :cardinality, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :counter_cache %>
    <%= form.check_box :counter_cache, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :type %>
    <%= form.text_field :type, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
