<div id="<%= dom_id project_table_relationship_direct %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Origin:</strong>
    <%= project_table_relationship_direct.origin_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Destination:</strong>
    <%= project_table_relationship_direct.destination_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Scope:</strong>
    <%= project_table_relationship_direct.scope_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= project_table_relationship_direct.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Foreign key:</strong>
    <%= project_table_relationship_direct.foreign_key_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Key:</strong>
    <%= project_table_relationship_direct.key_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Polymorphic:</strong>
    <%= project_table_relationship_direct.polymorphic %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Foreign key owner:</strong>
    <%= project_table_relationship_direct.foreign_key_owner_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dependent:</strong>
    <%= project_table_relationship_direct.dependent %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Touch option:</strong>
    <%= project_table_relationship_direct.touch_option %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Optional:</strong>
    <%= project_table_relationship_direct.optional %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cardinality:</strong>
    <%= project_table_relationship_direct.cardinality %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Counter cache:</strong>
    <%= project_table_relationship_direct.counter_cache %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= project_table_relationship_direct.type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this direct", project_table_relationship_direct, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this direct', edit_project_table_relationship_direct_path(project_table_relationship_direct), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
