<div class="list-group-item d-flex align-items-center">
  <span class="flex-grow-1">
    <code><%= relationship %></code>
  </span>

  <small class="flex-grow-auto text-muted text-truncate">
    <% if relationship.direct? %>
      <span
        data-bs-toggle="tooltip"
        data-bs-html="true"
        title="Foreign key: <%= relationship.foreign_key_owner&.underscored_plural %>.<%= relationship.foreign_key %><%= ", Key: #{relationship.key}" if !relationship&.key&.primary_identifier %>">

        <i class="fad fa-lock-open-alt"></i>
      </span>
    <% end %>

    <span
      data-bs-toggle="tooltip"
      data-bs-html="true"
      title="Inverse of: <%= relationship.inverse_of %>">

      <i class="fad fa-yin-yang fa-fw"></i>
    </span>

    <span>
      <%= relationship.cardinality %>
      
      <%= relationship.destination %>

      <!-- returns -->
    
      <%# case %>
      <%# when relationship.many? %>
        <%#= relationship.destination.humanized_plural %>
      <%# when relationship.one? %>
        <%#= relationship.destination.classified.indefinite_article %>
        <%#= relationship.destination.humanized %>
      <%# end %>
    </span>
  </small>
</div>
